---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Diferenciais from '../components/Diferenciais.astro';
import Servicos from '../components/Servicos.astro';
import Sobre from '../components/Sobre.astro';
import Galeria from '../components/Galeria.astro';
import ObraDestaque from '../components/ObraDestaque.astro';
import Depoimentos from '../components/Depoimentos.astro';
import Contato from '../components/Contato.astro';
import Footer from '../components/Footer.astro';
import WhatsappFloat from '../components/WhatsappFloat.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Diferenciais />
    <Servicos />
    <Sobre />
    <Galeria />
    <ObraDestaque />
    <Depoimentos />
    <Contato />
  </main>
  <Footer />
  <WhatsappFloat />
</Layout>
